$primary: #4d4d4d;
$second: #dddddd;
$bg-gray: #9b9b9b;
$bg-light: #ffffff;

$large-fontSize: 20px;
$small-fontSize: 16px;
$largeSize-width: 90vw;
$smallSize-width: 100vw;
$largeSize-padding: 16px;
$smallSize-padding: 8px;

.outUploadImg {
  max-width: $largeSize-width;
  margin-top: 20px;
  border: 1px solid $primary;
  padding: $largeSize-padding;
}

label {
  cursor: pointer;
  background-color: $primary;
  color: $bg-light;
  padding: 10px;
  border-radius: $smallSize-padding;
}
input {
  display: none;
}

.prevImg {
  border: 1px solid $primary;
  height: 600px;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 576px) {
  .sendPicBtn {
    text-align: center;
  }
}
